<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>tracingDBServlet</servlet-name>
    <servlet-class>de.bund.bfr.gwt.krise.server.HsqldbServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tracingDBServlet</servlet-name>
    <url-pattern>/de_bund_bfr_gwt_krise/tracingDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>de.bund.bfr.gwt.krise.server.UploadFileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/de_bund_bfr_gwt_krise/UploadService</url-pattern>
  </servlet-mapping>
  
    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>De_bund_bfr_gwt_krise.html</welcome-file>
  </welcome-file-list>

</web-app>
