<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///de/bund/bfr/knime/pmm/core.ecore"
            class="de.bund.bfr.knime.pmm.core.common.CommonPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated core -->
      <package
            uri="http:///de/bund/bfr/knime/pmm/core/data.ecore"
            class="de.bund.bfr.knime.pmm.core.data.DataPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated core -->
      <package
            uri="http:///de/bund/bfr/knime/pmm/core/datatypes.ecore"
            class="de.bund.bfr.knime.pmm.core.datatypes.DatatypesPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated core -->
      <package
            uri="http:///de/bund/bfr/knime/pmm/core/models.ecore"
            class="de.bund.bfr.knime.pmm.core.models.ModelsPackage"
            genModel="model/core.genmodel"/>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/pmm.png"
            level-id="pmm"
            name="PMM-Lab Test"
            path="/">
      </category>
   </extension>

</plugin>
